# Santander Coders exercises from Class #6 Unit #2
Data: 15/02/2024. De: Ada Tech. Language: Portuguese.

In [1]:
import pandas as pd
import numpy as np

# Exercicíos

Descrição dos Exercícios: Serão 5 exercícios onde o objetivo será conseguir os dados de datasets conhecidos do Kaggle e responder os tópicos propostos para cada um deles.

Exercício 1: Análise de Dados do Airbnb em Nova York Dataset: Disponível no Kaggle como New York City Airbnb Open Data.

In [2]:
dfAirbnb = pd.read_csv("./Datasets/02-15-AB_NYC_2019.csv")

# Questões:
1- Exiba as primeiras 5 linhas do dataset para entender a estrutura dos dados.

In [12]:
dfAirbnb.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

2- Calcule o preço médio de aluguel por bairro (neighbourhood_group).

3- Encontre o número de opções de hospedagem disponíveis em cada tipo de quarto (room_type).

4- Determine os 10 bairros com a maior quantidade de hospedagens listadas.

# Exercício 2: Explorando Dados de Vendas de Imóveis
Dataset: Disponível no Kaggle como House Prices: Advanced Regression Techniques.

In [3]:
df_house_prices_teste = pd.read_csv("./Datasets/02-15-test.csv")
df_house_prices_treino = pd.read_csv("./Datasets/02-15-train.csv")
df_house_prices = pd.concat([df_house_prices_teste, df_house_prices_treino])

# Questões
1- Exiba o número total de linhas e colunas no DataFrame.

2- Encontre o preço médio dos imóveis.

3- Liste as 5 áreas de lote (LotArea) mais grandes.

4- Determine quantos imóveis possuem mais de 2 banheiros (FullBath).

# Exercício 3: Análise de Dados de Compras Online.
Dataset: Disponível no Kaggle como Brazilian E-Commerce Public Dataset by Olist.

In [4]:
df_olist_pedidos = pd.read_csv("Datasets/02-15-olist_orders_dataset.csv")
df_olist_produtos = pd.read_csv("Datasets/02-15-olist_products_dataset.csv")
df_olist_produtos_pedidos = pd.read_csv("Datasets/02-15-olist_order_items_dataset.csv")

# Questões: 
1- Determine quantos pedidos foram feitos em cada ano.


2- Calcule o tempo médio de entrega (diferença entre order_purchase_timestamp e order_delivered_customer_date).


3- Identifique o top 5 categorias de produtos mais vendidos.

# Exercício 4: Análise de Dados de Filmes do IMDb
Dataset: Disponível no Kaggle como IMDb movies extensive dataset.

In [8]:
df_imdb = pd.read_csv("Datasets/02-15-movies.csv")

# Questões
1- Exiba os títulos e anos dos 10 filmes mais recentes no dataset.

2- Calcule a duração média dos filmes.

3- Identifique o filme com a maior quantidade de votos (votes).

4- Determine quantos filmes possuem uma classificação (avg_vote) superior a 8.

# Exercício 5: Explorando Dados de Jogos de Videogame.
Dataset: Disponível no Kaggle como Video Game Sales with Ratings.

In [11]:
df_videogame = pd.read_csv("Datasets/02-15-Video_Games_Sales_as_at_22_Dec_2016.csv")

# Questões
1- Liste os 5 jogos mais vendidos globalmente (Global_Sales).

2- Calcule as vendas totais na América do Norte (NA_Sales).

3- Encontre o jogo mais vendido no Japão (JP_Sales).


4- Determine a média de pontuação dos críticos (Critic_Score) para os jogos da Nintendo.