# Santander Coders exercises from Class #6 Unit #2
Data: 15/02/2024. De: Ada Tech. Language: Portuguese.

In [1]:
import pandas as pd
import numpy as np

# Exercicíos

Descrição dos Exercícios: Serão 5 exercícios onde o objetivo será conseguir os dados de datasets conhecidos do Kaggle e responder os tópicos propostos para cada um deles.

Exercício 1: Análise de Dados do Airbnb em Nova York Dataset: Disponível no Kaggle como New York City Airbnb Open Data.

In [2]:
dfAirbnb = pd.read_csv("./Datasets/02-15-AB_NYC_2019.csv")

# Questões:
1- Exiba as primeiras 5 linhas do dataset para entender a estrutura dos dados.

In [12]:
dfAirbnb.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

2- Calcule o preço médio de aluguel por bairro (neighbourhood_group).

In [14]:
dfAirbnb.groupby("neighbourhood_group")["price"].mean()

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

3- Encontre o número de opções de hospedagem disponíveis em cada tipo de quarto (room_type).

In [15]:
dfAirbnb.groupby("room_type")["id"].count()

room_type
Entire home/apt    25409
Private room       22326
Shared room         1160
Name: id, dtype: int64

4- Determine os 10 bairros com a maior quantidade de hospedagens listadas.

In [16]:
dfAirbnb["neighbourhood"].value_counts()

neighbourhood
Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
Richmondtown             1
New Dorp                 1
Rossville                1
Willowbrook              1
Name: count, Length: 221, dtype: int64

# Exercício 2: Explorando Dados de Vendas de Imóveis
Dataset: Disponível no Kaggle como House Prices: Advanced Regression Techniques.

In [3]:
df_house_prices_teste = pd.read_csv("./Datasets/02-15-test.csv")
df_house_prices_treino = pd.read_csv("./Datasets/02-15-train.csv")
df_house_prices = pd.concat([df_house_prices_teste, df_house_prices_treino])

# Questões
1- Exiba o número total de linhas e colunas no DataFrame.

In [20]:
linhas, colunas = df_house_prices.shape

print("Numero de linhas: ", linhas)
print("Numero de colunas", colunas)

Numero de linhas:  2919
Numero de colunas 81

2- Encontre o preço médio dos imóveis.

In [23]:
df_house_prices.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,NaN
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,NaN
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,NaN
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,NaN
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,NaN

In [24]:
df_house_prices["SalePrice"].mean()

180921.19589041095

3- Liste as 5 áreas de lote (LotArea) mais grandes.

In [25]:
df_house_prices["LotArea"].nlargest(5)

313    215245
335    164660
249    159000
706    115149
451     70761
Name: LotArea, dtype: int64

4- Determine quantos imóveis possuem mais de 2 banheiros (FullBath).

In [32]:
df_house_prices[df_house_prices["FullBath"] > 2].shape[0]

68

# Exercício 3: Análise de Dados de Compras Online.
Dataset: Disponível no Kaggle como Brazilian E-Commerce Public Dataset by Olist.

In [33]:
df_olist_pedidos = pd.read_csv("Datasets/02-15-olist_orders_dataset.csv")
df_olist_produtos = pd.read_csv("Datasets/02-15-olist_products_dataset.csv")
df_olist_produtos_pedidos = pd.read_csv("Datasets/02-15-olist_order_items_dataset.csv")

# Questões: 
1- Determine quantos pedidos foram feitos em cada ano.

In [34]:
df_olist_pedidos.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [35]:
pd.to_datetime(df_olist_pedidos["order_purchase_timestamp"]).dt.year.value_counts()

order_purchase_timestamp
2018    54011
2017    45101
2016      329
Name: count, dtype: int64


2- Calcule o tempo médio de entrega (diferença entre order_purchase_timestamp e order_delivered_customer_date).

In [37]:
(pd.to_datetime(df_olist_pedidos["order_delivered_customer_date"]) - pd.to_datetime(df_olist_pedidos["order_purchase_timestamp"])).mean()

Timedelta('12 days 13:24:31.879068369')


3- Identifique o top 5 categorias de produtos mais vendidos.

In [38]:
produtos_vendidos = df_olist_produtos_pedidos.merge(df_olist_produtos, on="product_id")
produtos_vendidos["product_category_name"].value_counts().sort_values(ascending=False)[:5]

product_category_name
cama_mesa_banho           11115
beleza_saude               9670
esporte_lazer              8641
moveis_decoracao           8334
informatica_acessorios     7827
Name: count, dtype: int64

# Exercício 4: Análise de Dados de Filmes do IMDb
Dataset: Disponível no Kaggle como IMDb movies extensive dataset.

In [8]:
df_imdb = pd.read_csv("Datasets/02-15-movies.csv")

# Questões
1- Exiba os títulos e anos dos 10 filmes mais recentes no dataset.

2- Calcule a duração média dos filmes.

3- Identifique o filme com a maior quantidade de votos (votes).

4- Determine quantos filmes possuem uma classificação (avg_vote) superior a 8.

# Exercício 5: Explorando Dados de Jogos de Videogame.
Dataset: Disponível no Kaggle como Video Game Sales with Ratings.

In [11]:
df_videogame = pd.read_csv("Datasets/02-15-Video_Games_Sales_as_at_22_Dec_2016.csv")

# Questões
1- Liste os 5 jogos mais vendidos globalmente (Global_Sales).

2- Calcule as vendas totais na América do Norte (NA_Sales).

3- Encontre o jogo mais vendido no Japão (JP_Sales).


4- Determine a média de pontuação dos críticos (Critic_Score) para os jogos da Nintendo.